$pad: 10px;
$mainbg: #444444;
$lightgray: #f0f0f0;
$mediumgray: #777;

$red: #c00;
$green: #33ee33;
$tilepad: 3*$pad;

$fontNormal: 16px;
$fontMedium: 24px;
$fontLarge: 46px;

@font-face{
    font-family:"Neue Helvetica W01";
    src:url("/fonts/helv_bold.woff2") format("woff2");
    font-weight:700;font-style:normal;
}

@font-face{
    font-family:"Neue Helvetica W01";
    src:url("/fonts/helv.woff2") format("woff2");
    font-weight:400;font-style:normal;
}


body {
    font-family: "Neue Helvetica W01", Helvetica, Arial, sans-serif;
    padding: $tilepad;
    background: $mainbg;
    font-weight: 400;
    font-size: $fontMedium;
}

div.logo img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

div.tile {
    background: white;
    padding: $pad;
    margin-bottom: $tilepad;
    
    box-shadow: 6px 6px 6px rgba(0,0,0,0.1);
    
    >.header {
        font-size: $fontMedium;
        font-weight: 400;
        color: $mediumgray;
        margin-bottom: $pad;
        padding-bottom: $pad;
        border-bottom: 2px solid $lightgray;
    }
    >.body {
        font-weight: bold;
    }
}


div.tile.people-status {
    .row.inout {
        font-size: 40px;
        span { font-weight: bold; }
        .out { color: $red; }
        .in { color: $green; };
        text-align: center;
    }
}

div.tile.room-status {
    >.body {
        padding-bottom: 0;
    }
    div.room {
        height: 80px;
        position: relative;
        background: $lightgray;
        margin-bottom: $pad;
        span.room-id {
            position: absolute;
            font-size: $fontNormal;
            left: 4px; top: 2px;
            font-weight: normal;
        }
        span.status {
            margin-top: 5px;
            position: absolute;
            bottom: 20px;
            width: 100%;
            display: block;
            text-align: center;
            font-weight: 700;
            font-size: $fontMedium;
            //top: 50%;
            //transform: translateY(-50%);
        }
        &.inhabited {
            background: $green;
        }
    }
}

.person-status {
    font-size: $fontMedium;
    font-weight: 700;

    &.out {
        color: #999;
    }
    
    i {
        padding-right: $pad/2;
    }
    
    .time {
        font-weight: 400;
        font-size: $fontNormal;
        color: $mediumgray;
    }
    margin-bottom: $pad;
}

.modal-header {
    .modal-title {
        font-weight: 700;
        font-size: $fontMedium;
    }
}

div.tag-popup {
    .modal-header {
        .meta {
            font-size: $fontNormal;
            color: $mediumgray;
            margin-top: $pad;
            font-weight: 400;
        }
    }
    
    .modal-dialog {
        margin-top: 200px;
    }
    
    .foot {
        text-align: center;
        color: $mediumgray;
    }

    p {
        text-align: center;
        font-size: $fontMedium;
    }
    
    h1 {
        font-weight: bold;
        text-align: center;
        margin-top: $pad*4;
        margin-bottom: $pad*4;
    }
    
    .green { color: $green; }
    .red { color: $red; }
    .holdon { color: $mediumgray; }
    
}

div.room-popup {

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .thumbnail {
        margin-bottom: 0;
        img {
            width: 100%;
        }
    }

    .caption {
        height: 78px;
        overflow: none;
    }
    
    div.person-status {
        padding-left: 5px;
        padding-right: 5px;

        h3 {
            margin: 0;
            font-size: 18px;
        }
        
        .company {
            font-weight: 400;
            font-size: $fontNormal;
            color: $mediumgray;
        }
        
    }

}