<div class="checkout-popup">
  <div class="modal-header">
    <h3 class="modal-title">Manual checkout</h3>
  </div>

  <div class="modal-body">
    <p>You are about to manually check out the following people:</p>

    <ul class="person-status" ng-repeat="p in checkoutPersons">
      <li>{{ p.person.name }}</li>
    </ul>

    <p><strong>Swipe your tag to confirm.</strong></p>
    
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Cancel</button>
  </div>
  
</div>
